.form-group.has-error .form-control, .form-group.has-error {
    border-color: #dd4b39;
    box-shadow: none;
}
.form-group.has-error label {
    color: #dd4b39;
}
.box-header{
    padding-top: 30px
}
      