<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <b>{{ category_of_accessary }}</b>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{ home }}</a></li>
    <li><a href="#">{{ category }}</a></li>
    <li class="active">{{ category_of_accessary }}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="box">
    <div class="box-header">
      <div class="form-group">
        <label class="col-sm-2 control-label">{{ unit_of_work }}:</label>
        <div class="col-sm-3">
          <select 
            class="form-control select2"
            style="width: 100%;"
            id="donvi" 
            name="donvi"
            >
            <option value="0" selected>{{ all_of_unit }}</option>
            <option *ngFor="let dv of dataDonVi" [value]=dv.id>{{ dv.ten }}</option>
          </select>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-example  pull-left" id="btn-search">
            {{ btn_search }}
          </button>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-example " id="btn-export-csv">
            {{ btn_export }}
          </button>
        </div>
        <div class="col-sm-5">
          <button type="button" class="btn btn-example  pull-right" id="btn-add">
            {{ btn_new }}
          </button>
        </div>
        
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table id="tbl-danh-muc-phu-tung" class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>{{ name_of_category }}</th>
          <th>{{ description }}</th>
          <th>{{ unit_of_work }}</th>
          <th class="hidden">{{ created_at }}</th>
          <th>{{ action }}</th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>

</section>

<div class="modal fade in" id="modal-default">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <form id="frm-danh-muc-phu-tung">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group-ten">
                      <label class="no_error">{{ name_of_category }}</label> <span class="required"> *</span>
                      <input 
                        type="text" 
                        class="form-control my-colorpicker1"
                        id="ten" 
                        name="ten" 
                        placeholder="Input name of category"
                        required
                      >
                      <div id="error" class="error"></div>
                    </div>
                    
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="no_error">{{ cal_revenue_of_unit }}</label> <span class="required"> *</span>
                    <select 
                      class="form-control select2"
                      style="width: 100%;"
                      id="donvi_id" 
                      name="donvi_id"
                    >
                      <option value="0" selected>{{ please_select }}</option>
                      <option *ngFor="let dv of dataDonVi" [value]=dv.id>{{dv.ten}}</option>
                    </select>
                  </div>
      
                  <input type="hidden" name="hidden_id" value="0">
                  
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>{{ description }}</label>
                    <textarea 
                      class="textarea" 
                      placeholder="Decription of category"
                      style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"
                      id="mo_ta" 
                      name="mo_ta"
                    >
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <p>
                <strong>New Categories</strong> <br>
              </p>
              <span>
                  Category Information
              </span>
              <span class="d-block">
                Create new category of accessary to classify for accessary. 
              </span>
              <span>
                  New category have to require name of category and unit of work. Unit of work to calculate revenue if units. 
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">{{ cancel }}</button>
        <button 
          type="submit" 
          class="btn btn-example" 
          id="save-danh-muc-phu-tung"
        >
        {{ save }}</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
