<section class="content-header">
    <h1>
        <b>{{ create_order }}</b>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{ home }}</a></li>
        <li><a href="#">{{ orders_management }}</a></li>
        <li class="active">{{ create_order }}</li>
    </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="box">
        <div class="box-header">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-example" >
                            <i class="fa fa-share"></i> {{ orders_management }}
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-example  pull-right" id="btn-add">
                                <i class="fa fa-plus-square"></i> {{ btn_new }}
                        </button>
                        <button type="button" class="btn btn-example pull-right" id="btn_save">
                            <i class="fa fa-save"></i> {{ btn_save }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <form id="frm-danh-muc-phu-tung">
                        <div class="row">
                            <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="no_error">{{ code_order }}</label> <span class="required"> *</span>
                                        <input 
                                            type="text" 
                                            class="form-control my-colorpicker1"
                                            id="ma" 
                                            name="ma" 
                                            value="{{ code_generate }}"
                                            required
                                            disabled
                                        >
                                    </div> 
                                </div>
                                <div class="col-md-12">
                                    
                                    <div class="form-group">
                                        <label class="no_error">{{ provider }}</label> <span class="required"> *</span>
                                        <select class="form-control select2" id="nha_cung_cap" style="width: 100%;">
                                            <option value="0" selected></option>
                                            <option *ngFor="let ncc of dataNCC" [value]= ncc.id >{{ ncc.ten }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                    <label class="no_error">{{ created_at }}</label> <span class="required"> *</span>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right created_at" id="datepicker">
                                    </div>
                                    <!-- /.input group -->
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{ note_of_order }}</label>
                                        <textarea 
                                        class="textarea" 
                                        placeholder="Decription of category"
                                        style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"
                                        id="mo_ta" 
                                        name="mo_ta"
                                        ></textarea>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <strong>New Order</strong> <br>
                                        </p>
                                        <span>
                                            Order Information
                                        </span>
                                        <span class="d-block">
                                            Create new order to order accessary from providers. 
                                        </span>
                                        <span>
                                            New order have to require code of order, provider of accessary and created date. You can note for order in textarea Note of Order. 
                                        </span>
                                    </div>
                                </div>
                                <div class="row m-t-lg">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-example btn-block btn-flat" id="choose_accessary">
                                            {{ choose_accessary }}
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    <h5 class="page-header"></h5>
                    <div class="row sh d-none">
                        <div class="col-md-2">
                            {{ name_accessary }} :
                        </div>
                        <div class="col-md-5">
                            <input id="id_phu_tung" type="hidden">
                            <input type="text" id="ten_phu_tung" class="font-weight-bold float-left border-none" readonly>
                        </div>
                        <div class="col-md-3">
                            {{ inventory }} :
                        </div>
                        <div class="col-md-2">
                            <input type="number" id="so_luong_ton" class="font-weight-bold float-left border-none" readonly> 
                        </div>
                    </div>
                    <div class="row m-t-20 sh d-none">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Ammount:</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="so_luong_dat" placeholder="Ammount" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-example form-control" id="btn_phu_tung_dat"> Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="page-header"></div>
                    <h4><b>Accessary List Need Order</b></h4>
                    <table class="table table-striped" id="chi_tiet_phieu_dat_table">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 5%;">#</th>
                            <th>{{ code_accessary }}</th>
                            <th>{{ name_accessary }}</th>
                            <th>{{ unit_of_calculations }}</th>
                            <th style="width: 10%;">{{ amount }}</th>
                            <th style="width: 5%;">{{ action }}</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        <!-- /.box-body -->
        </div>
    </div>
    </section>

    <div class="modal fade in" id="modal-default">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{{ accessary_list }}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group row">
                                <label class="col-sm-1 control-label no_error">{{ automaker }}</label>
                                <div class="col-sm-5">
                                    <select 
                                        class="form-control select2"
                                        style="width: 100%;"
                                        id="automaker" 
                                        name="automaker"
                                        >
                                    <option value="0" selected>{{ please_select }}</option>
                                    <option *ngFor="let hx of dataHangXe" [value] = hx.id> {{ hx.ten }} </option>
                                    </select>
                                </div>
                            
                                <label class="col-sm-1 control-label no_error">{{ vehicle }}</label>
                                <div class="col-sm-5">
                                    <select 
                                        class="form-control select2"
                                        style="width: 100%;"
                                        id="vehicle" 
                                        name="vehicle"
                                    >
                                    <option value="0" selected>{{ please_select }}</option>
                                    <option *ngFor="let dx of dataDongXe" [value] = dx.id> {{ dx.ten }} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1">
                                </div>
                                <label class="col-sm-3 control-label no_error">{{ category_of_accesary }}</label>
                                <div class="col-sm-5">
                                    <select 
                                        class="form-control select2"
                                        style="width: 100%;"
                                        id="category_of_accesary" 
                                        name="category_of_accesary"
                                    >
                                    <option value="0" selected>{{ please_select }}</option>
                                    <option *ngFor="let dm of dataDMPhuTung" [value] = dm.id> {{ dm.ten }} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center p-t-md">
                                <div class="col-sm-6"></div>
                                <button type="button" class="btn btn-example" id="btn_search">
                                    {{ btn_search }}
                                </button>
                            </div>
                        </div>
                    </form>
                    <table class="table table-striped" id="phutungthem" style="width:100%;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ code_accessary }}</th>
                            <th>{{ name_accessary }}</th>
                            <th>{{ category_of_accesary }}</th>
                            <th>{{ vehicle }}</th>
                            <th>{{ automaker }}</th>
                            <!-- <th>{{ origin }}</th> -->
                            <th>{{ image }}</th>
                            <th>{{ inventory }}</th>
                            <th>{{ action }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">{{ cancel }}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    <!-- /.modal-dialog -->
    </div>

