<!-- <div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>PHÚ THÔNG</b> GARAGE  </a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form action="../../index2.html" method="post">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
    
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
       
      </div>
    </form>
  </div>

</div> -->
<div class="container-fluid bg-login">
  <div class="row height-full">
    <div class="register">
      <div class="content">
          <div>
              <img class="logo" alt="" src="assets/dist/img/textdaily.png"  />
          </div>
          <form action="login" method="post" id="registerForm" class="form-register">
              <h5 class="title-login">Login to your account</h5>
                  <p class="error-register m-b-md"></p>
              <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input
                      type="text"
                      name="username"
                      data-rule-required="true"
                      class="form-control form-control-sm"
                      placeholder="Input username"
                      data-msg-required="Please input username"
                  />
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input
                      id="password"
                      type="password"
                      name="password"
                      data-rule-required="true"
                      class="form-control form-control-sm"
                      placeholder="Input Password"
                      data-msg-required="Please input password"
                  />
              </div>
              
              <button type="submit" id="btn-register" class="btn btn-register">Login</button>
              <div>
                  <span>Best viewed:</span>
                  <span>
                      <img src="assets/dist/img/IE.png" />
                      IE 11
                  </span>
                  <span>
                      <img src="assets/dist/img/firefox.png" />
                      Firefox 57
                  </span>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>

