<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "pacman"
></ngx-spinner>
<section class="content-header">
  <h1>
    {{ vehicles_list }}
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="/trang-chu"><i class="fa fa-dashboard"></i> {{ home }}</a></li>
    <li><a>{{ categories }}</a></li>
    <li class="active"><a routerLink="/trang-chu/dong-xe">{{ vehicles_list }}</a></li>
  </ol>
</section>

<section class="content">
  <div class="box">
    <div class="box-header">
      <div class="form-group">
        <label class="col-sm-2 control-label">{{ automakers }}:</label>
        <div class="col-sm-3">
          <select class="form-control select2" style="width: 100%;" id="hangxe" name="hangxe">
            <option value="0" selected>{{ all_of_automakers }}</option>
            <option *ngFor="let hx of dataHangXe" [value]=hx.id>{{ hx.ten }}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-success btn-flat bg-green pull-left" id="btn-search">
            {{ search }}
          </button>
        </div>
        <div class="col-sm-5">
          <button type="button" class="btn btn-success btn-flat bg-green pull-right" id="btn-add">
            {{ new_vehicle }}
          </button>
        </div>

      </div>
    </div>

    <div class="box-body">
      <table id="tbl-danh-muc-dong-xe" class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>{{ name_of_vehicle }}</th>
            <th>{{ description }}</th>
            <th>{{ automaker }}</th>
            <th>{{ action }}</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

  </div>

</section>

<div class="modal fade in" id="modal-default">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header custom-header-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <form id="frm-danh-muc-dong-xe">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-group-ten">
                    <label class="no_error">{{ name_of_vehicle }}</label> <span class="required"> *</span>
                    <input type="text" class="form-control my-colorpicker1" id="ten" name="ten" placeholder="Input name of vehicle"
                      required>
                    <div id="error" class="error"></div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label class="no_error">{{ automaker }}</label> <span class="required"> *</span>
                    <select class="form-control select2" style="width: 100%;" id="hangxe_id" name="hangxe_id">
                      <option value="0" selected>{{ please_select }}</option>
                      <option *ngFor="let hx of dataHangXe" [value]=hx.id>{{ hx.ten }}</option>
                    </select>
                  </div>
                  <input type="hidden" name="hidden_id" value="0">
                </div>

                <div class="col-md-12">
                  <label class="no_error">{{ description }}</label>
                  <textarea class="textarea" placeholder="Description of vehicle" style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"
                    id="mo_ta" name="mo_ta">
                  </textarea>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <p>
                <strong>New Vehicle</strong> <br>
              </p>
              <span>
                Vehicle Information
              </span>
              <span class="d-block">
                Create new Vehicle to know the vehicle which attach automaker.
              </span>
              <span>
                New vehicle have to require name of vehicle and automaker. You only can set the description of vehicle
                when update.
              </span>
            </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">{{ cancel }}</button>
        <button type="submit" class="btn btn-flat bg-green pull-right" id="save-danh-muc-dong-xe">
          {{ save }}</button>
      </div>
    </div>
  </div>
</div>