<section class="content-header">
    <h1>
      <b>Lịch sử bệnh án khách hàng</b>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
      <li><a href="#">Quản lý khách hàng</a></li>
      <li class="active">Lịch sử bệnh án khách hàng</li>
    </ol>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-header"></div>
      <div class="box-body">
          <table class="table table-bordered" id="dssuachua" style="width:100%;">
              <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Ngày</th>
                <th scope="col">Biển số</th>
                <th scope="col">Tổng tiền phụ tùng</th>
                <th scope="col">Tổng tiền sửa chữa</th>
                <th>Tổng cộng</th>
                <th scope="col">Thanh toán</th>
                <th scope="col">Chưa thanh toán</th>
                <th>Trạng thái</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
      </div>
    </div>
  </section>

  
