<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      <b>Tiếp Nhận Sửa Chữa</b>
      <!-- <small>Preview</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
      <li><a href="#">Quản lý sửa chữa</a></li>
      <li class="active">Tiếp nhận sửa chữa</li>
    </ol>
  </section>
  
<!-- Main content -->
<section class="content">
<div class="box">
    <div class="box-header">
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                <li class="active tab-1"><a class="big_tab" href="#activity" data-toggle="tab">Thông Tin Khách Hàng</a></li>
                <li class="tab-2"><a class="big_tab" href="#timeline" data-toggle="tab">Thông Tin Xe </a></li>
                <li class="tab-3"><a class="big_tab" href="#settings" data-toggle="tab">Lập Lệnh Khám</a></li>
                </ul>
                <div class="tab-content">
                    <!-- Thong tin khach hang -->
                    <div class="active tab-pane" id="activity">
                        <form style="margin:20px" id="form-khach-hang">
                            <div class="form-group row">
                                <label class=" col-sm-2 control-label">Mã khách hàng <span class="required"> *</span></label>
                                <div class="col-sm-7">
                                    <input 
                                        class="form-control" 
                                        id="ma_khach_hang" 
                                        name="ma_khach_hang" 
                                        data-rule-required ="true" 
                                        data-msg-required="Vui lòng nhập mã khách hàng"
                                    >
                                </div>
                            </div>    
                            <div class="form-group row">
                                <label class="col-sm-2 control-label no_error">Tên khách hàng <span class="required"> *</span></label>
                                <div class="col-sm-7">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="ten_khach_hang" 
                                        name="ten_khach_hang" 
                                        data-rule-required ="true" 
                                        data-msg-required="Vui lòng nhập tên khách hàng"
                                    >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label no_error">Số điện thoại <span class="required"> *</span></label>
                                <div class="col-sm-7">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        name="sdt" 
                                        id="sdt"
                                        data-rule-required ="true" 
                                        data-msg-required="Vui lòng nhập số điện thoại"
                                    >
                                    <small ><i>Bạn có thể nhập số điện thoại và nhấn enter để tìm khách hàng</i></small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label no_error">Giới tính</label>
                                <div class="checkbox col-sm-7">
                                    <input id="radio_nam" name="gioi_tinh" type="radio" class="flat-red form-control" value="1" checked>
                                    <label>Nam</label> 
                                    <input id="radio_nu" name="gioi_tinh" type="radio" class="flat-red form-control" value="0">
                                    <label>Nữ</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label no_error">Ngày sinh</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="ngay_sinh" name="ngay_sinh">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" name="email" id="email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label">Địa chỉ</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="dia_chi" id="dia_chi">
                                </div>
                            </div>
                            
                            <div class="form-group row ">
                                <button type="reset" class="btn btn-secondary pull-right">Nhập lại</button>
                                <button type="submit" class="btn btn-example them_khach_hang pull-right">Thêm mới</button>
                            </div>
                        </form>
                        
                    </div>
                    <!-- thông tin xe --> 
                    <div class="tab-pane" id="timeline">
                        <form class="form-horizontal form-thong-tin-xe">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Biển số  <span class="required"> *</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control thong_tin_xe_bien_so" data-rule-required ="true" data-msg-required="Vui lòng nhập biển số">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Số Vin</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control thong_tin_xe_so_vin" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Số khung</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control thong_tin_xe_so_khung" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Số km</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control thong_tin_xe_so_km">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Hãng xe <span class="required"> *</span></label>
                                    <div class="col-sm-4">
                                        <select name="hang_xe" name="thong_tin_xe_hang_xe" class="form-control hang_xe" style="width:100%;">
                                            <option></option>
                                            <option *ngFor="let hx of dataHangXe" [value]= hx.id >{{ hx.ten }}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <a class="btn btn-primary-action m-r-xs btn-them-hang-xe" title="Thêm hãng xe" ><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Màu xe</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control thong_tin_xe_mau_xe" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Dòng xe <span class="required"> *</span></label>
                                    <div class="col-sm-4">
                                        <select disabled="disabled" name="" class="form-control thong_tin_xe_dong_xe"style="width:100%;">
                                            <option></option>
                                            <option *ngFor="let dx of dataDongXe" [value]=dx.id>{{dx.ten}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <a class="btn btn-primary-action m-r-xs btn-them-dong-xe" title="Thêm dòng xe" ><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                    <!-- <button class="btn btn-secondary previous">Trước</button> -->
                                <button class="btn btn-example them_xe pull-right">Thêm mới</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                        <div class="table-responsive">
                            <table name="item" id="table_xe" class="display table table-striped " width="100%" >
                                <thead>
                                    <tr>
                                        <th hidden></th>
                                        <th>Biển số</th>
                                        <th>Số Vin</th>
                                        <th>Số khung</th>
                                        <th>Số máy</th>
                                        <th>Dòng xe</th>
                                        <th>Màu xe</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="settings">
                        <form class="form-horizontal form-lap-phieu-kiem-tra">
                            <div class="container-fluid">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                        <div class="col-sm-3"><span class="float-right col-form-label">Ngày lập</span></div>
                                        <div class="col-sm-9">
                                        <input type="text" class="form-control" id="ngay_lap_phieu">
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-3"><span class="float-right col-form-label">Biển số</span></div>
                                            <div class="col-sm-9">
                                            <input type="text" class="form-control" id="bien_so_kiem_tra" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                        <div class="col-sm-3"><span class="float-right col-form-label">Nhân viên kiểm tra (1)<span class="text-danger"> (*)</span></span></div>
                                        <div class="col-sm-5">
                                            <select name="nhan_vien" id="nhan_vien_1" class="form-control" style="width: 100%;">
                                                <option></option>
                                                <option *ngFor="let nv of dataNhanVien1" [value]=nv.id>{{nv.ten}}</option>
                                            </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <select name="ma_don_vi" id="ma_don_vi_1" class="form-control" style="width: 100%;">
                                                    <option></option>
                                                    <!-- <option *ngFor="let dv of dataDonVi" [value]=dv.id>{{dv.ten}}</option> -->
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-3"><span class="float-right col-form-label">Loại phiếu kiểm tra</span></div>
                                            <div class="col-sm-9">
                                                <select name="loai_phieu_kham" disabled id="loai_phieu_kham" class="form-control" style="width: 100%;">
                                                    <option value="0">Kiểm tra sửa chữa</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                        <div class="col-sm-3"><span class="float-right col-form-label">Nhân viên kiểm tra (2)</span></div>
                                        <div class="col-sm-5">
                                            <select name="nhan_vien" id="nhan_vien_2" class="form-control" style="width: 100%;">
                                                <option></option>
                                                <!-- <option *ngFor="let nv of dataNhanVien2" [value]=nv.id>{{nv.ten}}</option> -->
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select name="ma_don_vi" id="ma_don_vi_2" class="form-control" style="width: 100%;">
                                                <option></option>
                                                <!-- <option *ngFor="let dv of dataDonVi" [value]=dv.id>{{dv.ten}}</option> -->
                                            </select>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-3"><span class="float-right col-form-label">Nội dung kiểm tra</span></div>
                                            <!-- <label for="inputPassword" class="col-sm-2 offset-2 col-form-label text-center">Biển số xe (*)</label> -->
                                            <div class="col-sm-9">
                                            <input type="text" id="noi_dung_kham_1" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                        <div class="col-sm-3"><span class="float-right col-form-label">Nha viên kiểm tra (3)</span></div>
                                        <!-- <label for="inputPassword" class="col-sm-2 offset-2 col-form-label text-center">Biển số xe (*)</label> -->
                                        <div class="col-sm-5">
                                            <select name="nhan_vien" id="nhan_vien_3" class="form-control" style="width: 100%;">
                                                <option></option>
                                                <!-- <option *ngFor="let nv of dataNhanVien3" [value]=nv.id>{{ nv.ten }}</option> -->
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <select name="ma_don_vi" id="ma_don_vi_3" class="form-control" style="width: 100%;">
                                                <option></option>
                                                <!-- <option *ngFor="let dv of dataDonVi" [value]=dv.id>{{dv.ten}}</option> -->
                                            </select>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-3"><span class="float-right col-form-label">Nội dung kiểm tra</span></div>
                                            <!-- <label for="inputPassword" class="col-sm-2 offset-2 col-form-label text-center">Biển số xe (*)</label> -->
                                            <div class="col-sm-9">
                                            <input type="text" id ="noi_dung_kham_2" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                        <div class="col-sm-3"><span class="float-right col-form-label">Yêu cầu kiểm tra</span></div>
                                        <div class="col-sm-9">
                                            <textarea style="border: 1px solid #a4b7c1;" class="form-control" id="yeu_cau_kiem_tra" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-3"><span class="float-right col-form-label">Nội dung kiểm tra</span></div>
                                            <div class="col-sm-9">
                                            <input type="text" id="noi_dung_kham_3" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        
    </div>
</div>
<div class="box" id="lichsukiemtraxe">
    <div class="box-header">

    </div>
    <div class="box-body">
        <table class="table table-bordered" id="dsphieukiemtra" style="width:100%;">
            <thead>
                <tr>
                <th>Ngày lập</th>
                <th>Biển số</th>
                <th>Dòng xe</th>
                <th>Ngày lập</th>
                <th>Nhân viên kiểm tra</th>
                <th>Nội dung kiểm tra</th>
                <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="box" id="lichsusuachua">
    <div class="box-header">
        <h3><b>Lịch sử sửa chữa</b></h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered" id="dssuachua" style="width:100%;">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Ngày</th>
                <th scope="col">Biển số</th>
                <th scope="col">Tổng tiền phụ tùng</th>
                <th scope="col">Tổng tiền sửa chữa</th>
                <th>Tổng cộng</th>
                <th scope="col">Thanh toán</th>
                <th scope="col">Chưa thanh toán</th>
                <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

</section>

<!-- modal them hang xe -->
<div class="modal fade" id="modal-them-hang-xe">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">THÊM HÃNG XE</h4>
        </div>
        <div class="modal-body">
            <form id="form-them-hang-xe" >
                <div class="form-group row">
                    <label for="firstname" class="control-label col-lg-3">Hãng xe <span class="required"> *</span></label>
                    <div class="col-lg-9">
                        <input 
                        class=" form-control" 
                        id="hangxe" name="hangxe" 
                        type="text"
                        data-rule-required ="true"
                        data-msg-required="Vui lòng nhập tên hãng xe"
                        >
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-lg-3">Trạng thái</label>
                    <div class="col-lg-9">
                        <select class="form-control" name="trangthai">
                            <option value="1">Hiển thị</option>
                            <option value="0">Không hiển thị</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-offset-3 col-lg-6">
                        <input class="btn btn-secondary" type="reset" value="Nhập lại">
                        <button class="btn btn-example" type="submit" name="luu_hang_xe" id="luu_hang_xe">Thêm mới</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<!-- modal them dong xe -->
<div class="modal fade" id="modal-them-dong-xe">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">THÊM DÒNG XE</h4>
        </div>
        <div class="modal-body">
            <form id="form-them-dong-xe" >
                <div class="form-group row">
                    <label for="firstname" class="control-label col-lg-3">Hãng xe <span class="required"> *</span></label>
                    <div class="col-lg-9">
                        <select name="them_hang_xe" id="them_hang_xe" class="form-control hang_xe" style="width:100%;">
                            <option></option>
                            <option *ngFor="let hx of dataHangXe" [value]= hx.id>{{ hx.ten }}</option>
                        </select>
                        <label id="them_hang_xe_error" class="error"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-lg-3">Dòng xe <span class="required"> *</span></label>
                    <div class="col-lg-9">
                        <input 
                        class=" form-control" 
                        id="dongxe" name="dongxe" 
                        type="text"
                        data-rule-required ="true"
                        data-msg-required="Vui lòng nhập tên dòng xe"
                        >
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-lg-3">Trạng thái</label>
                    <div class="col-lg-9">
                        <select class="form-control" name="trang_thai_dong_xe">
                            <option value="1">Hiển thị</option>
                            <option value="0">Không hiển thị</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-offset-3 col-lg-6">
                        <input class="btn btn-secondary" type="reset" value="Nhập lại">
                        <input class="btn btn-example" type="submit" name="luu-dong-xe" id="luu-dong-xe" value="Thêm mới">
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
<!-- 
    Modal thong tin xe 
 -->
<!-- <div class="modal fade in" id="modalThongTinXe">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Thông tin xe</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <input type="hidden" id="id_thong_tin_xe" value="0">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Biển số</label>
                        <input type="text" id="bien_so" class="form-control">
                        <span class="d-none" id="errorbienSo">Biển số này đã tồn tại !</span>
                    </div>

                    <div class="form-group">
                        <label>Số Vin</label>
                        <input type="text" id="so_vin" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Số khung</label>
                        <input type="text" id="so_khung" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Khách hàng</label>
                        <select disabled="disabled" name="" id="thong_tin_khach_hang" class="form-control" style="width:100%;">
                            <option *ngFor="let kh of dataKhachHang" [value]= kh.id>{{ kh.ten }} - SDT: {{ kh.sdt }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Số km</label>
                        <input type="text" id="so_km" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Số máy</label>
                        <input type="text" id="so_may" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Màu xe</label>
                        <input type="text" id="mau_xe" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Dòng xe</label>
                        <select disabled="disabled" name="" id="id_dong_xe" class="form-control"style="width:100%;">
                            <option *ngFor="let dx of dataTTDongXe" [value]=dx.id>{{dx.ten}}</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Thoát</button>
            <button type="button" class="btn btn-example d-none" id="btn_UpdateData">Cập nhật</button>
        </div>
      </div>
  
    </div>
  
</div>
  
<div class="modal fade bd-example-modal-lg" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header modalkhachhang">
            <h5 class="modal-title text-primary" >Customer Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modalkhachhang">
            <div class="ml-5 mr-5">
            <div class="form-group row">
                <div class="col-sm-6">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Mã khách hàng:</label>
                            <div class="col-sm-8">
                            <span class="form-control" id="MAKHACHHANG"></span>
                            </div>
                        </div>
                </div>
                <div class="col-sm-6">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Tên khách hàng:<span class="text-danger">(*)</span></label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="TENKHACHHANG">
                            </div>
                        </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Ngày sinh:</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="NGAYSINH">
                            </div>
                        </div>
                </div>
                <div class="col-sm-6">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Giới tính:</label>
                            <div class="col-sm-8">
                                <select name="GIOITINH" id="GIOITINH" class="form-control" style="width: 100%;">
                                    <option value="1">Nam</option>
                                    <option value="0">Nữ</option>
                            </select>
            
                            </div>
                        </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Email:</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="EMAIL_KH">
                            </div>
                        </div>
                </div>
                <div class="col-sm-6">
                        <div class="row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">SDT:<span class="text-danger">(*)</span> </label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="SDT_KH">
                            <span class="d-none error" id="errorSDT_KH">Số điện thoại đã tồn tại</span>
                            </div>
                        </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Địa chỉ:</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="DIACHI_KH">
                </div>
            </div>
        </div>
        </div>
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="lblxe">THÊM MỚI XE</h5>
                        </div>
                          <div class="modal-body">
                              <div class="ml-5 mr-5">
                              <input type="hidden" id="hideId" value="0">
                              <div class="form-group row">
                                  <div class="col-sm-6">
                                          <div class="row">
                                              <label for="inputEmail3" class="col-sm-4 col-form-label">Mã xe:</label>
                                              <div class="col-sm-8">
                                              <span type="text" id="MAXE" class="form-control"></span>
                                              </div>
                                          </div>
                                  </div>
                                  <div class="col-sm-6">
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <div class="col-sm-6">
                                          <div class="row">
                                              <label for="inputEmail3" class="col-sm-4 col-form-label">Biển số:<span class="text-danger">(*)</span></label>
                                              <div class="col-sm-8">
                                              <input type="text" id="BIENSOXE" class="form-control">
                                              <span class="d-none error" id="errorBIENSOXE">Biển số xe đã tồn tại</span>
                                              </div>
                                          </div>
                                  </div>
                                  <div class="col-sm-6">
                                          <div class="row">
                                              <label for="inputEmail3" class="col-sm-4 col-form-label">Số vin:</label>
                                              <div class="col-sm-8">
                                              <input type="text" id="SOVIN" class="form-control">
                                              </div>
                                          </div>
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <div class="col-sm-6">
                                          <div class="row">
                                              <label for="inputEmail3" class="col-sm-4 col-form-label">Số khung:</label>
                                              <div class="col-sm-8">
                                              <input type="text" id="SOKHUNG" class="form-control">
                                              </div>
                                          </div>
                                  </div>
                                  <div class="col-sm-6">
                                          <div class="row">
                                              <label for="inputEmail3" class="col-sm-4 col-form-label">Số máy:</label>
                                              <div class="col-sm-8">
                                              <input type="text" id="SOMAY" class="form-control">
                                              </div>
                                          </div>
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <div class="col-sm-6">
                                          <div class="row">
                                              <label for="inputEmail3" class="col-sm-4 col-form-label">Số kilomet:</label>
                                              <div class="col-sm-8">
                                              <input type="text" id="SO_KILOMET" class="form-control">
                                              </div>
                                          </div>
                                  </div>
                                  <div class="col-sm-6">
                                          <div class="row">
                                              <label for="inputEmail3" class="col-sm-4 col-form-label">Màu xe:</label>
                                              <div class="col-sm-8">
                                              <input type="text" id="MAUXE" class="form-control">
                                              </div>
                                          </div>
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <div class="col-sm-6">
                                          <div class="row">
                                              <label for="inputEmail3" class="col-sm-4 col-form-label">Hãng xe</label>
                                              <div class="col-sm-8">
                                              <div class="row">
                                                <div class="col-sm-8">
                                                  <select name="" id="MAHANGXE" class="form-control"style="width:100%;">
                                                  <option></option>
                                                  <option *ngFor="let hx of dataHangXe" [value]=hx.MAHANGXE>{{hx.TENHANGXE}}</option>
                                                  </select>
                                                </div>
                                                <div class="col-sm-4">
                                                <button class="btn btn-outline-primary"id="plus_HX" >+</button>
                                                </div>
                                            </div>
                                          </div>
                                          </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="row">
                                          <label for="inputEmail3" class="col-sm-4 col-form-label">Dòng xe</label>
                                          <div class="col-sm-8">
                                          <div class="row">
                                            <div class="col-sm-8">
                                              <select name="" id="MADONGXE" class="form-control"style="width:100%;">
                                              <option></option>
                                              <option *ngFor="let dx of dataDongXe" [value]=dx.MADONGXE>{{dx.TENDONGXE}}</option>
                                              </select>
                                            </div>
                                            <div class="col-sm-4">
                                            <button class="btn btn-outline-primary"id="plus_DX">+</button>
                                            </div>
                                        </div>
                                      </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_AddData">Thêm</button>
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Đóng</button>
              </div>
            </div>
          </div>
</div>  -->
<!-- Model lap phieu kiem tra -->
<!-- <div class="modal fade bd-example-modal-lg" id="modelPhieuKiemTra" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header modalkhachhang">
            <h5 class="modal-title" id="exampleModalLabel"><b>Create Checklist</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
              </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="row">
                                <div class="col-sm-3"><span class="float-right col-form-label">Create On</span></div>
                                
                                <div class="col-sm-9">
                                <input type="text" class="form-control" id="ngay_lap_phieu">
                                </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3"><span class="float-right col-form-label">Liscense Plates</span></div>
                                    
                                    <div class="col-sm-9">
                                    <input type="text" class="form-control" id="bien_so_kiem_tra" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="row">
                                <div class="col-sm-3"><span class="float-right col-form-label">Check Attendant (1)<span class="text-danger"> (*)</span></span></div>
                                
                                <div class="col-sm-5">
                                    <select name="nhan_vien" id="nhan_vien_1" class="form-control" style="width: 100%;">
                                        <option></option>
                                        <option *ngFor="let nv of dataNhanVien1" [value]=nv.id>{{nv.ten}}</option>
                                    </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select name="ma_don_vi" id="ma_don_vi_1" class="form-control" style="width: 100%;">
                                            <option></option>
                                            <option *ngFor="let dv of dataDonVi" [value]=dv.id>{{dv.ten}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3"><span class="float-right col-form-label">Checklist Style</span></div>
                                    
                                    <div class="col-sm-9">
                                        <select name="loai_phieu_kham" disabled id="loai_phieu_kham" class="form-control" style="width: 100%;">
                                            <option value="0">Kiểm tra sửa chữa</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="row">
                                <div class="col-sm-3"><span class="float-right col-form-label">Check Attendant (2)</span></div>
                                
                                <div class="col-sm-5">
                                    <select name="nhan_vien" id="nhan_vien_2" class="form-control" style="width: 100%;">
                                        <option></option>
                                        <option *ngFor="let nv of dataNhanVien2" [value]=nv.id>{{nv.ten}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select name="ma_don_vi" id="ma_don_vi_2" class="form-control" style="width: 100%;">
                                        <option></option>
                                        <option *ngFor="let dv of dataDonVi" [value]=dv.id>{{dv.ten}}</option>
                                    </select>
                                </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3"><span class="float-right col-form-label">Content Of Check</span></div>
                                    
                                    <div class="col-sm-9">
                                    <input type="text" [(ngModel)]="noi_dung_kham_1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="row">
                                <div class="col-sm-3"><span class="float-right col-form-label">Check Attendant (3)</span></div>
                                
                                <div class="col-sm-5">
                                    <select name="nhan_vien" id="nhan_vien_3" class="form-control" style="width: 100%;">
                                        <option></option>
                                        <option *ngFor="let nv of dataNhanVien3" [value]=nv.id>{{ nv.ten }}</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select name="ma_don_vi" id="ma_don_vi_3" class="form-control" style="width: 100%;">
                                        <option></option>
                                        <option *ngFor="let dv of dataDonVi" [value]=dv.id>{{dv.ten}}</option>
                                    </select>
                                </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3"><span class="float-right col-form-label">Content Of Check</span></div>
                                    
                                    <div class="col-sm-9">
                                    <input type="text"[(ngModel)]="noi_dung_kham_2" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="row">
                            <div class="col-sm-3"><span class="float-right col-form-label">Check Request</span></div>
                            <div class="col-sm-9">
                                <textarea style="border: 1px solid #a4b7c1;" class="form-control" [(ngModel)]="yeu_cau_kiem_tra" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-3"><span class="float-right col-form-label">Content Of Check</span></div>
                                <div class="col-sm-9">
                                <input type="text"[(ngModel)]="noi_dung_kham_3" class="form-control">
                                </div>
                            </div>
                        </div>
                        </div>   
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" class="btn btn-example d-none" id="btn_LapPhieu">Create Checklist</button>
                </div>
            </div>
        </div>
    </div> 
</div> -->

<!-- modal them hang xe -->
<div class="modal fade" id="modalHangXe" role="dialog" aria-labelledby="modalHangXe" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="modalHangXe">THÔNG TIN HÃNG XE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="add">
              <input type="hidden" id="hideId" value="0">
            <div class="form-group">
              <label for="subjectID">Mã Hãng Xe</label>
              <input type="text" class="form-control" name="MAHANGXE_ADD" id="MAHANGXE_ADD" required>
            </div>
            <div class="form-group">
                <label for="subjectID">Tên Hãng Xe</label>
                <input type="text" class="form-control" name="TENHANGXE_ADD" id="TENHANGXE_ADD"  required>
                <div id="unname_ITK" class="response"></div>
            </div>
            <div class="form-group">
                <label for="subjectID">Mô Tả</label>
                <input type="text" class="form-control" name="MOTAHANGXE_ADD" id="MOTAHANGXE_ADD">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-primary" id="btn_LuuHangXe">Lưu</button>
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
    </div> 
<!-- Model dong xe -->
<div class="modal fade" id="modalDongXe" role="dialog" aria-labelledby="modalDongXe" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDongXe">Thông Tin Dòng Xe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <form id="add">
            <input type="hidden" id="hideId" value="0">
            <div class="form-group">
              <label for="subjectID">Mã Dòng Xe</label>
              <input type="text"  class="form-control" name="MADONGXE_ADD" id="MADONGXE_ADD">
            </div>
            <div class="form-group">
                <label for="subjectID">Tên Dòng Xe</label>
                <input type="text" class="form-control" name="TENDONGXE_ADD" id="TENDONGXE_ADD" required>
                <div id="unname_ITK" class="response"></div>
            </div>
            <div class="form-group">
                <label for="subjectID">Mô Tả</label>
                <input type="text" class="form-control" name="MOTADONGXE_ADD" id="MOTADONGXE_ADD">
            </div>
            <div class="form-group">
                <label >Thuộc Hãng Xe</label>
                <select style="width: 100%;" name="MAHANGXE_ADD_DX" class="form-control select2" id="MAHANGXE_ADD_DX" required>
                    <option *ngFor="let hx of dataHangXe" [value]=hx.MAHANGXE>{{hx.TENHANGXE}}</option>
                </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btn_LuuDongXe">Lưu</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
    </div> 
<!-- Modal xem dat lich sua chua -->
<div class="modal fade" id="modaldatlich">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-primary">DANH SÁCH ĐẶT LỊCH SỬA CHỮA</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div id='calendar' class="fc fc-unthemed fc-ltr"></div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

